* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background: linear-gradient(182deg, #2e9278, #2e7b92, #A0C1B9, #706993);
    background-size: 800% 800%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    animation: gradient 15s ease infinite;
    -webkit-animation: gradient 15s ease infinite;
    -moz-animation: gradient 15s ease infinite;
} 

    @-webkit-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
    }
    @-moz-keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
    }
    @keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
    }

h1 {    
    text-transform: uppercase;
    font-weight: 100;
}

.weekDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 6rem 3rem;
    gap: 3rem;
}

.weekDay {
    flex: 0 47%;
}

.selectWrraper {
    position: relative;
    z-index: 1;
    padding-bottom: 10rem;
}

header {
    font-size: 1.1rem;
}

header,
form {
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
}

form {
    flex-direction: row;
}

.header {
    text-align: center;
}

form input, form button {
    padding: 0.9rem;
    font-size: 1rem;
    border: none;
    background: white;
    font-family: 'Roboto', sans-serif !important;
}

.todo-input,
.todo-input-tuesday,
.todo-input-wednesday,
.todo-input-thursday,
.todo-input-friday{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}

form button {
    color: #335C67;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #335C67;
    color: white;
}


.todo-container,
.todo-container-tuesday,
.todo-container-wednesday,
.todo-container-thursday,
.todo-container-friday {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.todo-list,
.todo-list-tuesday,
.todo-list-wednesday,
.todo-list-thursday,
.todo-list-friday {
    min-width: 20%;
    list-style-type: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    transition: all .4s ease;
}

.todo li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    flex: 1;
    font-size: 1rem;
}

.trash-btn, .complete-btn, .jira-btn {
    background: #E1B07E;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.jira-btn {
    background: #2E86AB;
    color: white;
}

.fa-jira {
    margin-left: 10px;
}

.complete-btn {
    background: #70A288;
    transition: all .2s ease;
    padding: 0.6rem;
}

.complete-btn .fa-check {
}

.complete-btn:active {
    background: #70A288;
}

.todo-item {
    padding: 0 .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-trash, 
.fa-check,
.fa-cloud-arrow-up {
    pointer-events: none;
    font-size: 1rem;
}

.doneUp {
    color: white;
    text-decoration: line-through white;
    opacity: 0.8;
    background: #6ce47c;
}

.completed {
    color: white;
    text-decoration: line-through white;
    opacity: 0.2;
    background: #2e9278;
}

.fall {
    transform: translateX(-10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;

}

.select {
    margin: 0;
    position: relative;
    overflow: hidden;
    position: fixed;
    width: 100%;
    
}

select {
    background: linear-gradient(182deg, #2e9278, #2e7b92, #A0C1B9, #706993);
    background-size: 800% 800%;
    color: white;
    width: 100%;
    cursor: pointer;
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #185e77;
    top: 0;
    right: 0;
    padding: 2.3rem;
    pointer-events: none;
    display: flex;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: #335C67;
    
}

.filter-todo {
    background-color: #598392;
}

option {
    font-weight: 300;
    font-size: 1.2rem;
}
